@media (max-width: 1380px) {
  /* FEEDBACK */
  .feedback__location {
    top: 210px;
    left: 70px;
  }
  .feedback__form {
    width: 480px;
    padding: 75px 50px;
  }
  /* /FEEDBACK */
}
@media (max-width: 1280px) {
  /* GENERAL */
  .container {
    padding: 0 80px;
  }
  .video__container,
.work__container {
    padding: 0;
  }
  /* GENERAL */
  /* HEADER */
  .header__contact {
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  .header__body {
    gap: 24px;
  }
  .contact__btn {
    font-size: 11px;
    border-radius: 6px;
    border: 1.5px solid var(--accent-color);
  }
  .contact__btn-container {
    order: 1;
    width: 162px;
    height: 29px;
  }
  .contact__btn:active {
    width: 150px;
    height: 26px;
  }
  /* HEADER */
  /* REVIEWS */
  .reviews__prev {
    left: -60px;
  }
  .reviews__next {
    right: -60px;
  }
  /* /REVIEWS */
  /* FOOTER */
  .footer {
    padding: 64px 0 56px;
  }
  .footer__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 80px;
    text-align: center;
  }
  /* /FOOTER */
}
@media (max-width: 1120px) {
  /* STAGES */
  .stages__item--two {
    left: 550px;
  }
  .stages__item--three {
    top: 350px;
  }
  .stages__item--four {
    top: 450px;
    left: 70px;
  }
  .stages__items::after {
    left: 80px;
  }
  /* /STAGES */
}
@media (max-width: 1024px) {
  /* GENERAL */
  .title {
    font-size: 30px;
    line-height: 120%;
  }
  .form {
    width: auto;
  }
  .swiper-button-prev,
.swiper-button-next {
    width: 64px;
    height: 64px;
  }
  .swiper-button-prev svg,
.swiper-button-next svg {
    height: 40px;
    width: 20px;
  }
  .modal__input {
    height: 40px;
  }
  .modal-feedback__body {
    width: 840px;
    padding: 50px;
  }
  .modal-feedback__form {
    width: 375px;
  }
  .modal-feedback__img {
    width: 362px;
    height: 330px;
    left: 27px;
    bottom: 50%;
    transform: translateY(50%);
  }
  .modal-locations__body {
    width: 840px;
    padding: 40px;
  }
  .modal-locations__img {
    margin: auto 0;
    width: 362px;
  }
  .modal-reviews__body {
    width: 840px;
    padding: 50px;
  }
  .modal-reviews__title {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .modal-reviews__img {
    position: static;
    width: 340px;
    margin: auto 0;
  }
  /* /GENERAL */
  /* HEADER */
  .header__menu {
    padding: 12px 0;
  }
  .header__link {
    font-size: 12px;
  }
  /* HEADER */
  /* PROMO */
  .promo {
    padding: 70px 0;
  }
  .promo__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 32px;
  }
  .promo__title--spacing {
    letter-spacing: 2.3px;
  }
  .promo__subtitle {
    max-width: 450px;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
  }
  .promo__play {
    height: 110px;
    top: 40%;
  }
  .promo__btn-container {
    margin-top: 32px;
  }
  /* /PROMO */
  /* WORK */
  .work {
    padding: 100px 0 80px;
  }
  .work__container {
    padding: 0;
  }
  .work__slide {
    height: clamp(14.375rem, 8.236rem + 26.19vw, 25rem);
  }
  .work .swiper-slide-active {
    min-width: clamp(14.75rem, 8.647rem + 26.04vw, 25.313rem);
    height: clamp(16.375rem, 9.586rem + 28.97vw, 28.125rem);
  }
  /* /WORK */
  /* LOCATIONS */
  .locations {
    padding: 60px 0;
  }
  .locations__btn-container {
    margin-top: 32px;
  }
  /* /LOCATIONS */
  /* VIDEO */
  .video {
    padding: 0;
  }
  .video__container {
    padding: 0;
  }
  /* /VIDEO */
  /* /SERVICES */
  .services {
    padding: 100px 0;
  }
  .services__gallery {
    gap: 24px;
    grid-auto-rows: 235px;
  }
  .services__text {
    bottom: 12px;
    left: 12px;
  }
  /* /SERVICES */
  /* STAGES */
  .stages {
    padding: 0 0 140px;
  }
  .stages__title {
    margin-bottom: 80px;
  }
  .stages__items {
    height: 950px;
  }
  .stages__items::after {
    width: auto;
    background: url(../img/stages/decor-2.svg) center center/contain no-repeat;
    top: 0px;
    left: -80px;
    right: -80px;
  }
  .stages__item--one {
    left: 20px;
  }
  .stages__item--two {
    left: auto;
    right: 20px;
  }
  .stages__item--three {
    top: 335px;
    right: 185px;
  }
  .stages__item--four {
    top: 595px;
    left: 0;
  }
  .stages__item--five {
    top: 730px;
    left: auto;
    right: 70px;
  }
  /* /STAGES */
  /* PRICE */
  .price {
    padding: 100px 0;
  }
  .price__item {
    width: 420px;
    padding: 48px 22px;
  }
  .price__item-sum {
    margin-bottom: 0;
  }
  .price__item-top {
    padding-bottom: 32px;
  }
  .price::after {
    background: url(../img/price/decor-3.svg) center center/contain no-repeat;
    height: auto;
    width: auto;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /* /PRICE */
  /* GIFT */
  .gift {
    padding: 100px 0;
  }
  .gift__buy {
    top: 20px;
    right: 12px;
  }
  .gift__buy-text {
    margin-bottom: 16px;
  }
  .gift__buy-image {
    height: 438px;
  }
  .banner {
    padding: 120px 50px 170px;
  }
  .banner__title {
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .banner::after {
    background: url(../img//gift/decor-2.svg) center center no-repeat;
    height: 920px;
    left: 230px;
    top: 40px;
  }
  /* /GIFT */
  /* REVIEWS */
  .reviews {
    padding: 0;
  }
  .reviews .swiper-content {
    margin: 0 80px;
  }
  .reviews .swiper-slide-active {
    margin-bottom: 0;
  }
  .reviews__prev {
    left: -80px;
  }
  .reviews__next {
    right: -80px;
  }
  .reviews__btn-container {
    margin: 42px auto 0;
  }
  /* /REVIEWS */
  /* FEEDBACK */
  .feedback {
    padding: 120px 0 130px;
  }
  .feedback__inner {
    margin: 0;
  }
  /* /FEEDBACK */
}
@media (max-width: 970px) {
  /* GENERAL */
  .menu__line {
    width: 24px;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 10px;
  }
  .modal__body {
    overflow-y: auto;
  }
  .modal__close {
    top: 12px;
    right: 12px;
  }
  .modal__close svg path {
    stroke: #D8D8D8;
  }
  .modal-feedback__content {
    display: block;
  }
  .modal-feedback__body {
    padding: 16px 16px 32px;
  }
  .modal-feedback__form {
    max-width: 375px;
    width: auto;
    margin: 0 auto;
  }
  .modal-feedback__img {
    display: block;
    width: 121px;
    height: 110.54px;
    position: static;
    transform: translateY(0);
    margin: 0 auto 12px;
  }
  .modal-locations__content {
    display: block;
  }
  .modal-locations__body {
    padding: 16px 16px 32px;
  }
  .modal-locations__form {
    margin: 0 auto;
    max-width: 420px;
    width: auto;
  }
  .modal-locations__img {
    width: 118.07px;
    height: 122.16px;
    display: block;
    margin: 0 auto;
  }
  .work-gallery__content,
.locations-gallery__content {
    padding: 60px;
  }
  .work-gallery__prev,
.locations-gallery__prev {
    left: 2%;
  }
  .work-gallery__next,
.locations-gallery__next {
    right: 2%;
  }
  .modal-reviews__content {
    flex-direction: column;
  }
  .modal-reviews__body {
    padding: 16px 16px 32px;
  }
  .modal-reviews__form {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }
  .modal-reviews__img {
    width: 118px;
    height: 126px;
    margin: 0 auto 14px;
    order: -1;
  }
  /* /GENERAL */
  /* HEADER */
  .header__head {
    order: 1;
    width: 32px;
    height: 32px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .header__body {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    padding: 16px 80px;
  }
  .header__body.header__body--active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  .header__item:nth-child(1) {
    order: -1;
  }
  .header__item:nth-child(3) {
    order: -1;
  }
  .header__item:nth-child(4) {
    order: -1;
    display: block;
  }
  .header__item:nth-child(5) {
    display: none;
  }
  .header__link {
    font-size: 14px;
  }
  .contact {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;
  }
  /* HEADER */
  /* WORK */
  .work__prev {
    left: 15%;
  }
  .work__next {
    right: 15%;
  }
  /* /WORK */
  /* STAGES */
  .stages__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    align-items: center;
  }
  .stages__items::after {
    width: 100%;
    background: url(../img/stages/decor-3.svg) center center/contain no-repeat;
    top: -40px;
    left: 0px;
    right: 0px;
  }
  .stages__item {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    position: relative;
    width: 320px;
    padding: 26px 36px 0;
    text-align: center;
  }
  /* /STAGES */
  /* GIFT */
  .gift {
    padding: 60px 0;
  }
  .gift__title {
    margin-bottom: 40px;
  }
  .gift__buy {
    position: static;
  }
  .gift__buy-image {
    height: 267px;
  }
  .gift__btn-container {
    height: 56px;
    width: 100%;
    max-width: 342px;
  }
  .banner {
    text-align: center;
    align-items: center;
    background-color: var(--bg-color2);
    padding: 40px 12px 50px;
    flex-direction: column;
  }
  .banner__title {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .banner__item {
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .banner::after {
    background: url(../img/gift/decor-3.svg) center center/contain no-repeat;
    width: 375px;
    left: -10px;
    top: 260px;
  }
  /* /GIFT */
  /* FEEDBACK */
  .feedback {
    padding: 80px 0 120px;
  }
  .feedback__image {
    position: relative;
    background: url(../img/feedback/02.jpg) center center/contain no-repeat;
    transform: translateY(0);
    width: auto;
  }
  .feedback__location {
    width: 245px;
    height: 240px;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 30px;
    padding-top: 32px;
  }
  .feedback__form {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    transform: translateY(-60px);
  }
  /* /FEEDBACK */
  /* FOOTER */
  .footer {
    padding: 60px 0;
  }
  .footer__menu {
    display: block;
  }
  .footer__logo {
    margin-bottom: 52px;
  }
  .footer__logo-img {
    margin: 0 auto;
  }
  .footer__body {
    grid-template-columns: 1fr 1fr;
    gap: 32px 56px;
  }
  .footer__social {
    flex-wrap: wrap;
    text-align: center;
    gap: 16px 24px;
  }
  .footer__social-text {
    width: 100%;
  }
  .line {
    margin: 40px 0;
  }
  /* /FOOTER */
}
@media (max-width: 650px) {
  /* GENERAL */
  .container {
    padding: 0 16px;
  }
  .swiper-button-prev,
.swiper-button-next {
    width: 36px;
    height: 36px;
  }
  .swiper-button-prev svg,
.swiper-button-next svg {
    height: 19px;
  }
  .swiper-button-prev svg path,
.swiper-button-next svg path {
    stroke-width: 7;
  }
  /* /GENERAL */
  /* HEADER */
  .header__body {
    padding: 16px;
  }
  .contact__feedback {
    display: flex;
  }
  .contact__btn-container {
    display: none;
  }
  /* HEADER */
  /* PROMO */
  .promo__title {
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 32px;
  }
  .promo__title--spacing {
    letter-spacing: 1.2px;
  }
  /* /PROMO */
  /* LOCATIONS */
  .locations {
    margin: 0 16px;
  }
  /* LOCATIONS */
  /* /SERVICES */
  .services__gallery {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 154px;
  }
  .services__item--three, .services__item--five, .services__item--nine, .services__item--eleven {
    order: 1;
  }
  .services .services__item--eight {
    grid-column-start: span 1;
    order: 2;
  }
  .services__text {
    font-size: 14px;
    line-height: 16px;
    bottom: 8px;
  }
  /* /SERVICES */
  .video__container,
.work__container,
.services__container {
    padding: 0;
  }
  /* REVIEWS */
  .reviews .swiper-content {
    margin: 0;
  }
  .reviews__prev {
    left: 0px;
  }
  .reviews__next {
    right: 0px;
  }
  /* /REVIEWS */
}
@media (max-width: 500px) {
  /* GENERAL */
  .btn {
    font-size: 14px;
    line-height: 17px;
  }
  .btn:active {
    font-size: 12px;
    line-height: 15px;
    width: 281px;
    height: 49px;
  }
  .modal-thanks__content {
    padding: 100px 21px;
  }
  /* /GENERAL */
  /* PROMO */
  .promo {
    text-align: center;
    padding: 180px 0;
  }
  .promo__title {
    font-size: 24px;
  }
  .promo__subtitle, .promo__text {
    display: none;
  }
  .promo__play {
    height: 40px;
    top: 44%;
  }
  .promo__btn:active {
    width: 280px;
    height: 50px;
    font-size: 12px;
  }
  .promo__btn-container {
    max-width: 320px;
    width: 100%;
    height: 56px;
    margin: 0 auto;
  }
  /* /PROMO */
  /* WORK */
  .work__prev {
    left: 5%;
  }
  .work__next {
    right: 5%;
  }
  /* /WORK */
  /* LOCATIONS */
  .locations__btn-container {
    width: 100%;
    height: 56px;
    margin-top: 32px;
  }
  /* LOCATIONS */
  /* VIDEO */
  .video__content {
    height: 375px;
  }
  .video__play {
    height: 42px;
  }
  /* /VIDEO */
  .price__extra-items {
    flex-wrap: wrap;
  }
  .price__btn-container {
    width: 100%;
  }
}
@media (max-width: 375px) {
  /* GENERAL */
  .title {
    font-size: 24px;
    line-height: 140%;
  }
  .swiper-pagination-bullets {
    bottom: -30px;
  }
  .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .form__text {
    font-size: 14px;
  }
  .form__input {
    margin-bottom: 12px;
  }
  .form__btn-container {
    margin-top: 20px;
  }
  .select {
    margin-bottom: 16px;
  }
  .select__header {
    height: 32px;
  }
  .select__item {
    height: 32px;
  }
  .modal__body {
    max-height: 80%;
  }
  .modal__title {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .modal__input {
    height: 32px;
    margin-bottom: 10px;
  }
  .modal__btn-container {
    height: 40px;
    margin: 6px 0 16px;
  }
  .modal-thanks__title {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .modal-thanks__text {
    font-size: 14px;
  }
  .work-gallery,
.locations-gallery {
    z-index: 7;
  }
  .work-gallery__slider p,
.locations-gallery__slider p {
    font-size: 14px;
  }
  .modal-extra__content {
    padding: 40px 29px;
  }
  .modal-extra__btn-container {
    height: 40px;
    margin-top: 6px;
  }
  .modal-extra__btn:active {
    height: 40px;
    width: 90%;
  }
  /* /GENERAL */
  /* HEADER */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
  }
  .header__logo-img {
    height: 20px;
  }
  /* /HEADER */
  /* WORK */
  .work {
    padding: 60px 0 85px;
  }
  .work__title {
    margin-bottom: 40px;
  }
  /* /WORK */
  /* LOCATIONS */
  .locations {
    padding: 0;
  }
  .locations__title {
    margin-bottom: 64px;
  }
  /* /LOCATIONS */
  /* VIDEO */
  .video {
    padding-top: 60px;
  }
  .video__title {
    margin-bottom: 40px;
  }
  /* /VIDEO */
  /* /SERVICES */
  .services {
    padding: 60px 0;
  }
  .services__title {
    margin-bottom: 40px;
  }
  /* /SERVICES */
  /* STAGES */
  .stages {
    padding-bottom: 80px;
  }
  .stages__container {
    padding: 0;
  }
  .stages__title {
    margin-bottom: 40px;
  }
  .stages__text {
    font-size: 14px;
    line-height: 140%;
  }
  .stages__number {
    left: 50%;
    transform: translateX(-50%);
  }
  /* /STAGES */
  /* INFO */
  .info {
    padding: 50px 0 36px;
    text-align: center;
  }
  .info__title {
    margin-bottom: 24px;
  }
  .info__text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  .info__btn {
    font-size: 14px;
    margin-right: 12px;
  }
  .info__more {
    right: 50%;
    transform: translateX(50%);
  }
  /* /INFO */
  /* PRICE */
  .price {
    padding: 60px 0;
  }
  .price__title {
    margin-bottom: 40px;
  }
  .price__item {
    padding: 45px 12px;
  }
  .price__item-size {
    margin-bottom: 8px;
  }
  .price__services {
    font-size: 14px;
  }
  .price__extra-title {
    font-size: 14px;
    line-height: 120%;
  }
  .price__extra-items {
    margin-bottom: 32px;
  }
  /* /PRICE */
  /* GIFT */
  .banner__title {
    font-size: 24px;
  }
  .banner__subtitle {
    font-size: 12px;
  }
  .banner__item {
    font-size: 14px;
    line-height: 140%;
  }
  /* /GIFT */
  /* REVIEWS */
  .reviews__title {
    margin-bottom: 40px;
  }
  .reviews__item-name {
    font-size: 18px;
    margin: 24px 0 14px;
  }
  .reviews__item-text {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .reviews__item-more {
    font-size: 14px;
  }
  .reviews__btn-container {
    margin-top: 32px;
    max-width: 320px;
    width: 100%;
    height: 56px;
  }
  /* /REVIEWS */
  /* FEEDBACK */
  .feedback__location {
    font-size: 14px;
  }
  .feedback__form {
    max-width: 320px;
  }
  .feedback__title {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 24px;
  }
  /* /FEEDBACK */
  /* FOOTER */
  .footer__logo-img {
    height: auto;
  }
  .footer__social-text {
    font-size: 14px;
  }
  /* /FOOTER */
}