@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@font-face {
  font-family: FuturaLT;
  src: url(../fonts/FuturaLT-Bold.ttf);
  font-weight: 700;
}
:root {
  --bg-color: #f2f4f4;
  --bg-color2: #F9F4EE;
  --accent-color: #E97522;
  --text-color: #333333;
  --text-color2: #4a4a4a;
  --gray: #b1b1b1;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
}

ul {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color2);
}
body._locked {
  overflow: hidden;
}

/* GENERAL */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.menu {
  color: var(--text-color2);
}
.menu__body {
  display: flex;
  align-items: center;
}
.menu__link {
  font-size: 14px;
  transition: color 0.4s ease;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--text-color);
    transition: color 0.4s ease;
  }
}
.menu__link:active {
  color: var(--accent-color);
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
  color: var(--text-color);
}

.btn {
  width: 366px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease;
}
@media (any-hover: hover) {
  .btn:hover::after {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
}
.btn:active {
  background: linear-gradient(180deg, #FFA96B 58.75%, #EE7A28 173.44%);
  font-size: 14px;
  letter-spacing: 2px;
  width: 300px;
  height: 40px;
}
.btn-container {
  width: 366px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.swiper-content {
  position: relative;
}

.swiper {
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  display: inline-flex;
  align-items: center;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
}
.swiper-pagination-bullets {
  bottom: -60px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--gray);
  margin: 0 7px;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: var(--accent-color);
}
.swiper-button-prev, .swiper-button-next {
  height: 73px;
  width: 73px;
  border-radius: 50%;
  background: #fff center center/cover no-repeat;
  cursor: pointer;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease;
}
@media (any-hover: hover) {
  .swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: var(--bg-color);
    transition: background-color 0.4s ease;
  }
}
.swiper-button-prev:active, .swiper-button-next:active {
  background-color: var(--accent-color);
}
.swiper-button-prev:active path, .swiper-button-next:active path {
  stroke: #F7F5F5;
}
.swiper-button-prev {
  position: absolute;
}
.swiper-button-next {
  position: absolute;
  transform: rotate(180deg);
}
.swiper__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
}

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.modal.modal-active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.modal__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 20px;
}
.modal__body {
  max-height: 90%;
  background-color: #FFFFFF;
  border-radius: 16px;
  margin: auto;
  position: relative;
}
.modal__content {
  display: flex;
}
.modal__title {
  margin-bottom: 32px;
}
.modal__close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: -36px;
  right: 0px;
  cursor: pointer;
}

.form {
  width: 420px;
  margin: 0 auto;
}
.form__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  color: #121621;
  opacity: 0.4;
  margin-bottom: 8px;
}
.form__input {
  font-family: "Montserrat";
  color: var(--text-color2);
  font-size: 14px;
  width: 100%;
  height: 48px;
  border: 1px solid #DDDEE4;
  border-radius: 5px;
  margin-bottom: 16px;
  padding-left: 16px;
}
.form__input::placeholder {
  font-size: 12px;
  line-height: 12px;
  color: var(--gray);
  opacity: 0.4;
}
.form__btn {
  display: block;
  width: 100%;
}
.form__btn-container {
  width: 100%;
  margin: 16px auto;
}
.form__review {
  position: relative;
  margin-bottom: 32px;
  min-height: 100px;
  max-height: 300px;
  height: 100%;
  padding: 18px 16px 54px;
  overflow-y: scroll;
}
.form__review-text {
  margin: 0;
}
.form .form__add-photo {
  width: 100%;
  height: 100%;
}
.form .form__review-img {
  margin-left: auto;
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 12px;
  color: var(--gray);
  opacity: 0.4;
  display: inline-block;
}

.select {
  cursor: pointer;
  margin-bottom: 32px;
  position: relative;
}
.select.select-active .select__header svg {
  transform: rotate(-180deg);
}
.select.select-active .select__body {
  visibility: visible;
  opacity: 1;
}
.select__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  position: relative;
}
.select__current {
  font-size: 14px;
}
.select__text {
  font-size: 12px;
  line-height: 12px;
  color: var(--gray);
  opacity: 0.4;
}
.select__body {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #DDDEE4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  z-index: 2;
  transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}
.select__item {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 28px;
  transition: background-color 0.2s ease;
}
@media (any-hover: hover) {
  .select__item:hover {
    background-color: var(--bg-color);
    transition: background-color 0.2s ease;
  }
}
.select__item:active {
  background-color: var(--bg-color);
}

.work-gallery__body {
  width: 90vw;
}
.work-gallery__content {
  position: relative;
  padding: 50px 100px 40px;
  text-align: center;
}
.work-gallery__slider {
  margin: 0 auto;
}
.work-gallery__slider img {
  width: auto;
}
.work-gallery__prev {
  left: 8%;
}
.work-gallery__next {
  right: 8%;
}

.locations-gallery__body {
  width: 90vw;
}
.locations-gallery__content {
  position: relative;
  padding: 50px 100px 40px;
  text-align: center;
}
.locations-gallery__slider {
  width: 693px;
  margin: 0 auto;
}
.locations-gallery__prev {
  left: 8%;
}
.locations-gallery__next {
  right: 8%;
}

.modal-locations__body {
  padding: 60px 50px 50px;
}
.modal-locations__img {
  width: 449px;
  height: 474px;
  margin: auto 0;
  margin-right: 20px;
}
.modal-locations__form {
  width: 464px;
}

.modal-reviews__body {
  padding: 60px 45px;
  width: 1033px;
}
.modal-reviews__img {
  width: 450px;
  height: 484px;
  position: absolute;
  right: 0px;
}
.modal-reviews__form {
  width: 574px;
}
.modal-reviews__title {
  margin-bottom: 40px;
}

.modal-extra__body {
  width: 680px;
}
.modal-extra__content {
  display: block;
  padding: 42px 48px;
}
.modal-extra__btn-container {
  margin-bottom: 0;
}

.modal-feedback__body {
  padding: 60px 40px;
  width: 1033px;
}
.modal-feedback__form {
  width: 480px;
  margin-left: auto;
}
.modal-feedback__img {
  width: 454px;
  height: 415px;
  position: absolute;
  left: 34px;
  bottom: 53px;
}

.modal-thanks__body {
  width: 622px;
}
.modal-thanks__content {
  display: block;
  padding: 90px 85px;
  text-align: center;
  position: relative;
}
.modal-thanks__content::before {
  content: "";
  width: 130px;
  height: 274px;
  background: url(../img/modal-thanks-decor.svg) center/cover no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 16px;
}
.modal-thanks__content::after {
  content: "";
  width: 215px;
  height: 210px;
  background: url(../img/modal-thanks-decor2.svg) center/cover no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-thanks__title {
  margin-bottom: 24px;
}
.modal-thanks__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #121621;
  opacity: 0.4;
  margin-bottom: 8px;
}

/* /GENERAL */
/* HEADER */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__body {
  gap: 32px;
}
.header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header__content {
  background-color: #444444;
}
.header__inner {
  color: #f5f5f5;
  padding: 145px 0;
  position: relative;
  z-index: 1;
}
.header__play {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-33%);
  z-index: -1;
}
.header__title {
  font-size: 66px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 50px;
  max-width: 850px;
}
.header__title--spacing {
  letter-spacing: 3.2px;
}
.header__subtitle {
  width: 600px;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  margin-bottom: 24px;
}
.header__text {
  max-width: 780px;
}
.header__btn {
  height: 64px;
}
.header__btn-container {
  height: 64px;
  margin-top: 64px;
}

.logo {
  display: flex;
  align-items: center;
}

.contact__btn {
  width: 196px;
  height: 31px;
  background-color: transparent;
  border: solid 2px var(--accent-color);
  border-radius: 10px;
  color: var(--accent-color);
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color ease 0.4s, background-color ease 0.4s;
}
@media (any-hover: hover) {
  .contact__btn:hover {
    background-color: var(--accent-color);
    color: #fff;
    transition: color ease 0.4s, background-color ease 0.4s;
  }
}
.contact__btn:active {
  background-color: var(--accent-color);
  color: #fff;
  width: 173px;
  height: 28px;
  font-size: 10px;
}
.contact__btn-container {
  width: 196px;
  height: 31px;
}
.contact__phone {
  font-size: 14px;
  font-weight: 600;
}
.contact__feedback {
  display: none;
}

/* /HEADER */
/* WORK */
.work {
  padding: 120px 0 110px;
}
.work__container {
  max-width: 1470px;
  padding: 0;
}
.work__title {
  margin-bottom: 80px;
}
.work__slide {
  height: 544px;
  cursor: pointer;
}
.work .swiper-slide-active {
  min-width: 555px;
  height: 618px;
  position: relative;
  z-index: 2;
}
.work .swiper-slide-prev,
.work .swiper-slide-next {
  position: relative;
  z-index: 1;
}
.work__prev {
  left: 280px;
}
.work__next {
  right: 280px;
}

/* /WORK */
/* LOCATIONS */
.locations {
  padding: 60px 0 90px;
  text-align: center;
  position: relative;
  max-height: 720px;
}
.locations::after {
  content: "";
  width: 1440px;
  height: 1128.22px;
  background: url(../img/locations/decor-1.svg) no-repeat;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: -1;
}
.locations__title {
  font-family: "FuturaLT";
  margin-bottom: 80px;
}
.locations__prev {
  left: -37px;
}
.locations__next {
  right: -37px;
}
.locations__btn {
  width: 336px;
}
.locations__btn-container {
  width: 336px;
  margin: 50px auto 0;
}
.locations__text {
  font-family: "FuturaLT";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
  position: absolute;
  bottom: 16px;
  left: 32px;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
}
.locations__shadow {
  width: 395px;
  height: 254px;
  background: linear-gradient(180deg, rgba(25, 25, 25, 0) 59.15%, #191919 106.34%);
  border-radius: 15px;
  position: absolute;
  bottom: 8px;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.locations__item {
  position: relative;
  cursor: pointer;
}
@media (any-hover: hover) {
  .locations__item:hover .locations__text,
.locations__item:hover .locations__shadow {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
}
.locations__item img {
  border-radius: 15px;
}

/* /LOCATIONS */
/* VIDEO */
.video {
  padding: 60px 0 50px;
}
.video__container {
  max-width: 1470px;
  padding: 0;
}
.video__title {
  margin-bottom: 80px;
}
.video__content {
  height: 675px;
  background-color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play {
  cursor: pointer;
}

/* /VIDEO */
/* SERVICES */
.services {
  padding: 60px 0 80px;
}
.services__title {
  margin-bottom: 80px;
}
.services__item {
  position: relative;
}
.services__item::after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(25, 25, 25, 0) 53.07%, #191919 121.9%);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.services__gallery {
  display: grid;
  grid-template-columns: repeat(3, 392px);
  grid-auto-rows: 335px;
  gap: 32px;
}
.services__item--two, .services__item--five, .services__item--six {
  grid-row-start: span 2;
}
.services__item--eight {
  grid-column-start: span 2;
}
.services__image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.services__text {
  color: #FFFFFF;
  position: absolute;
  bottom: 16px;
  left: 32px;
  z-index: 1;
}

/* /SERVICES */
/* STAGES */
.stages {
  padding: 80px 0 170px;
}
.stages__title {
  margin-bottom: 100px;
}
.stages__items {
  height: 874px;
  position: relative;
}
.stages__items::after {
  content: "";
  height: 100%;
  background: url(../img/stages/decor-1.svg) no-repeat;
  position: absolute;
  left: 140px;
  right: 0;
  top: 80px;
  z-index: -1;
}
.stages__item {
  height: 190px;
  width: 348px;
  border: 2px solid var(--accent-color);
  box-shadow: 0px 24px 38px rgba(220, 220, 220, 0.14), 0px 9px 46px rgba(216, 216, 216, 0.12), 0px 11px 15px rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  padding: 40px 40px 50px 40px;
  position: absolute;
  background-color: #fff;
}
.stages__item--one {
  top: 0;
  left: 0;
}
.stages__item--two {
  top: 55px;
  left: 640px;
}
.stages__item--three {
  top: 380px;
  right: 0px;
}
.stages__item--four {
  top: 370px;
  left: 150px;
}
.stages__item--five {
  top: 650px;
  left: 535px;
}
.stages__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 12px;
}
.stages__number {
  width: 50px;
  height: 50px;
  background-color: var(--bg-color2);
  color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  position: absolute;
  left: -25px;
  bottom: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /STAGES */
/* INFO */
.info {
  background-color: var(--bg-color);
  padding: 60px 0 40px;
  overflow: hidden;
}
.info__title {
  margin-bottom: 32px;
}
.info .accordion {
  overflow: hidden;
  position: relative;
}
.info .accordion-active {
  padding-bottom: 48px;
}
.info .accordion-active .info__more svg {
  transform: rotate(180deg);
}
.info__panel {
  transition: max-height 0.5s;
  max-height: 0;
}
.info__panel .info__text:last-child {
  margin-bottom: 0;
}
.info__text {
  margin-bottom: 35px;
}
.info__list {
  list-style: inside;
}
.info__more {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0;
}
.info__btn {
  background-color: transparent;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

/* /INFO */
/* PRICE */
.price {
  padding: 118px 0 170px;
  position: relative;
}
.price::after {
  width: 100%;
  height: 1020px;
  content: "";
  background: url(../img/price/decor-1.svg) center/cover no-repeat;
  position: absolute;
  top: 90px;
  right: 0;
  z-index: -1;
}
.price__title {
  font-family: "FuturaLT";
  margin-bottom: 80px;
}
.price__items {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.price__item {
  width: 400px;
  height: 654px;
  background-color: var(--bg-color);
  padding: 48px 14px 42px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
.price__item-top {
  padding: 0 31px 16px;
  margin: 0 auto;
}
.price__item-size {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 15px;
}
.price__item-sum {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--text-color);
  margin-bottom: 15px;
}
.price__item-sum::after {
  content: " ₽";
}
.price__item-amount {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #838383;
  margin-bottom: 40px;
}
.price__item::after {
  content: "";
  width: 264px;
  height: 308px;
  background: url(../img/price/decor-2.svg) no-repeat;
  position: absolute;
  top: -132px;
  right: -102px;
}
.price__item--two {
  background-color: var(--bg-color2);
}
.price__item--three {
  background-color: #F5D9C6;
  height: 700px;
}
.price__item--three::after {
  top: -106px;
  right: -78px;
}
.price__services {
  display: flex;
  align-items: center;
}
.price__services::before {
  display: block;
  content: "";
  min-width: 18px;
  height: 18px;
  background: url(../img/price/list.svg) no-repeat;
  margin-right: 8px;
}
.price__services, .price__extra-title {
  line-height: 140%;
  color: var(--text-color);
  margin-bottom: 16px;
}
.price__extra-title {
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  margin-bottom: 12px;
}
.price__extra-items {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
  gap: 5px;
}
.price__extra-items--3 {
  margin-bottom: 40px;
}
.price__extra-item {
  height: 40px;
  background-color: #fff;
  color: var(--text-color);
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #C2C2C2;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.4s ease;
}
@media (any-hover: hover) {
  .price__extra-item:hover {
    background-color: #F7F5F5;
    transition: background-color 0.4s ease;
  }
}
.price__extra-item.active {
  border-color: var(--accent-color);
}
.price__btn {
  display: block;
}

/* /PRICE */
/* INFO-2 */
.info-history {
  background-color: var(--bg-color2);
}

/* /INFO-2 */
/* GIFT */
.gift {
  overflow: hidden;
  padding: 82px 0 92px;
}
.gift__title {
  margin-bottom: 80px;
}
.gift__banner {
  background-color: var(--bg-color);
  display: flex;
  height: 623px;
  padding: 0 86px 38px 120px;
  border-radius: 25px;
  position: relative;
}
.gift__banner::after {
  content: "";
  width: 100%;
  height: 1075.44px;
  background: url(../img/gift/decor-1.svg) no-repeat;
  position: absolute;
  top: 195px;
  left: 605px;
}
.gift__buy {
  position: relative;
  text-align: center;
  min-width: 493px;
  z-index: 2;
}
.gift__buy-image {
  position: absolute;
  top: -7px;
  right: 0;
  width: 493px;
  height: 493px;
}
.gift__buy-text {
  line-height: 140%;
  color: var(--text-color);
  margin-top: 469px;
  margin-bottom: 24px;
}
.gift__btn {
  height: 48px;
  width: 342px;
}
.gift__btn-container {
  width: 342px;
  margin: 0 auto;
}

.banner__text {
  margin-top: 112px;
}
.banner__subtitle {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #C1C1C1;
  margin-bottom: 25px;
}
.banner__title {
  font-size: 48px;
  letter-spacing: 1px;
  margin-bottom: 55px;
}
.banner__list, .banner__title {
  font-weight: 600;
  line-height: 140%;
}
.banner__item {
  margin-bottom: 24px;
  list-style: none;
  display: flex;
}
.banner__item::before {
  display: block;
  content: "";
  background-image: url(../img/gift/list.svg);
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* /GIFT */
/* REVIEWS */
.reviews {
  padding: 60px 0 85px;
  height: 880px;
}
.reviews__title {
  margin-bottom: 80px;
}
.reviews .swiper-content {
  width: 1052px;
  margin: 0 auto;
  text-align: center;
}
.reviews__wrapper {
  height: 576px;
  align-items: flex-end;
}
.reviews__item-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 15px;
}
.reviews__item-text {
  margin-bottom: 10px;
}
.reviews__item-more {
  color: var(--accent-color);
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.reviews__item img {
  width: auto;
}
.reviews .swiper-slide-active {
  align-self: flex-start;
}
.reviews__prev {
  left: -90px;
}
.reviews__next {
  right: -90px;
}
.reviews__btn {
  width: 342px;
}
.reviews__btn-container {
  margin: -24px auto 0;
}

/* /REVIEWS */
/* FEEDBACK */
.feedback {
  padding: 100px 0 150px;
}
.feedback__inner {
  height: 594px;
  margin: 0 20px;
  position: relative;
}
.feedback__image {
  background: url(../img/feedback/01.jpg) center center no-repeat;
  height: 541px;
  width: 848px;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}
.feedback__location {
  width: 256px;
  height: 251px;
  position: absolute;
  top: 130px;
  left: 320px;
  background: url(../img/feedback/location.svg) center/cover no-repeat;
  padding-top: 34px;
  padding-left: 31px;
}
.feedback__location-text, .feedback__location-time {
  display: block;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 10px;
}
.feedback__location-time {
  font-weight: 500;
  margin-top: 0;
}
.feedback__logo {
  margin-bottom: 30px;
}
.feedback__logo img {
  min-width: 113px;
}
.feedback__form {
  width: 550px;
  background-color: var(--bg-color);
  border-radius: 25px;
  padding: 80px 36px;
  margin-left: auto;
}
.feedback__title {
  margin-bottom: 32px;
}
.feedback__desc {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #585858;
}

.underlined {
  text-decoration-line: underline;
  color: var(--text-color);
}

/* /FEEDBACK */
/* FOOTER */
.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
  color: var(--text-color);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo-img {
  width: 212px;
  height: 55px;
}
.footer__navigation {
  display: flex;
  font-weight: 700;
}
.footer__body {
  gap: 55px;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer__social-text {
  margin-right: 8px;
}

.line {
  margin: 32px 0;
  height: 2px;
  background: var(--gray);
}

.icon path {
  transition: fill 0.4s ease;
}
@media (any-hover: hover) {
  .icon:hover path {
    fill: #919191;
    transition: fill 0.4s ease;
  }
}
.icon:active path {
  fill: var(--accent-color);
}

/* /FOOTER */
@media (max-width: 1024px) {
  /* GENERAL */
  .container {
    padding: 0 80px;
  }
  .menu__link {
    font-size: 12px;
  }
  .title {
    font-size: 30px;
    line-height: 120%;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 64px;
    height: 64px;
  }
  .swiper-button-prev svg, .swiper-button-next svg {
    height: 40px;
    width: 20px;
  }
  /* /GENERAL */
  /* HEADER */
  .header__top {
    justify-content: space-between;
    padding: 12px 0;
  }
  .header_body {
    gap: 24px;
  }
  .header__contact {
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }
  .header__inner {
    padding: 70px 0;
  }
  .header__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 32px;
  }
  .header__title--spacing {
    letter-spacing: 2.3px;
  }
  .header__subtitle {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
    max-width: 450px;
  }
  .header__play {
    height: 110px;
    top: 40%;
  }
  .header__btn-container {
    margin-top: 32px;
  }
  .contact__btn {
    font-size: 11px;
    width: 162px;
    height: 29px;
    border-radius: 6px;
  }
  .contact__btn-container {
    width: 162px;
    height: 29px;
    order: 1;
  }
  .contact__btn:active {
    width: 150px;
    height: 26px;
  }
  /* HEADER */
  /* WORK */
  .work {
    padding: 100px 0 80px;
  }
  .work__container {
    padding: 0;
  }
  .work__slide {
    height: 397px;
  }
  .work .swiper-slide-active {
    min-width: 406px;
    height: 451px;
  }
  .work__prev {
    left: 21%;
  }
  .work__next {
    right: 21%;
  }
  /* /WORK */
  /* LOCATIONS */
  .locations {
    padding: 60px 0;
  }
  .locations__btn-container {
    margin-top: 32px;
  }
  /* /LOCATIONS */
  /* VIDEO */
  .video {
    padding: 0;
  }
  .video__container {
    padding: 0;
  }
  /* /VIDEO */
  /* /SERVICES */
  .services {
    padding: 100px 0;
  }
  .services__gallery {
    gap: 24px;
    grid-template-columns: repeat(3, 273px);
    grid-auto-rows: 233px;
  }
  .services__text {
    bottom: 12px;
    left: 12px;
  }
  /* /SERVICES */
  /* STAGES */
  .stages {
    padding: 0 0 140px;
  }
  .stages__title {
    margin-bottom: 80px;
  }
  .stages__items {
    height: 950px;
  }
  .stages__items::after {
    background: url(../img/stages/decor-2.svg) center center/contain no-repeat;
    top: 0px;
    left: -80px;
    right: -80px;
  }
  .stages__item--one {
    left: 20px;
  }
  .stages__item--two {
    left: auto;
    right: 20px;
  }
  .stages__item--three {
    top: 335px;
    right: 185px;
  }
  .stages__item--four {
    top: 595px;
    left: 0;
  }
  .stages__item--five {
    top: 730px;
    left: auto;
    right: 70px;
  }
  /* /STAGES */
  /* INFO */
  /* /INFO */
  /* PRICE */
  .price {
    padding: 100px 0;
  }
  .price__item {
    width: 420px;
    padding: 48px 22px;
  }
  .price__item-sum {
    margin-bottom: 0;
  }
  .price__item-top {
    padding-bottom: 32px;
  }
  .price::after {
    background: url(../img/price/decor-3.svg) center center/contain no-repeat;
    height: auto;
    width: auto;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /* /PRICE */
  /* GIFT */
  .gift {
    padding: 100px 0;
  }
  .gift__buy {
    min-width: auto;
  }
  .gift__buy-text {
    margin: 445px 0 16px;
  }
  .gift__buy-image {
    min-width: 438px;
    height: 438px;
  }
  .banner {
    height: auto;
    padding: 0 0 70px 50px;
  }
  .banner__title {
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 40px;
    min-width: 370px;
  }
  .banner__subtitle {
    margin-bottom: 8px;
  }
  .banner__text {
    margin-top: 120px;
  }
  .banner::after {
    background: url(../img//gift/decor-2.svg) center center no-repeat;
    height: 920px;
    left: 225px;
    top: 10px;
  }
  /* /GIFT */
  /* REVIEWS */
  .reviews {
    height: auto;
    padding: 0;
  }
  .reviews .swiper-content {
    width: auto;
    text-align: center;
    margin: 0 80px;
  }
  .reviews__wrapper {
    height: auto;
  }
  .reviews .swiper-slide-active {
    align-self: auto;
  }
  .reviews__prev {
    left: -80px;
  }
  .reviews__next {
    right: -80px;
  }
  .reviews__btn-container {
    margin: 42px auto 0;
  }
  /* /REVIEWS */
  /* FEEDBACK */
  .feedback {
    padding: 120px 0 130px;
  }
  .feedback__inner {
    margin: 0;
  }
  .feedback__location {
    top: 210px;
    left: 70px;
  }
  .feedback__form {
    width: 480px;
    padding: 75px 50px;
  }
  .form {
    width: auto;
  }
  /* /FEEDBACK */
  /* FOOTER */
  .footer {
    padding: 64px 0 56px;
  }
  .footer__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 80px;
    text-align: center;
  }
  .footer .menu__link {
    font-size: 16px;
  }
  /* /FOOTER */
}
@media (max-width: 375px) {
  /* GENERAL */
  .container {
    padding: 0 16px;
  }
  .title {
    font-size: 24px;
    line-height: 140%;
  }
  .menu__head {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .row {
    width: 24px;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 10px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 36px;
    height: 36px;
  }
  .swiper-button-prev svg, .swiper-button-next svg {
    height: 19px;
  }
  .swiper-button-prev svg path, .swiper-button-next svg path {
    stroke-width: 7;
  }
  .swiper-pagination-bullets {
    bottom: -30px;
  }
  .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .btn {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 3px;
  }
  .btn:active {
    font-size: 12px;
    line-height: 15px;
    width: 281px;
    height: 49px;
  }
  /* /GENERAL */
  /* HEADER */
  .header__logo {
    height: 20px;
  }
  .header__logo-img {
    height: 100%;
  }
  .header__navigation {
    order: 1;
  }
  .header__contact {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;
  }
  .header__top {
    padding: 0;
  }
  .header__play {
    height: 40px;
    top: 46%;
  }
  .header__btn {
    width: 320px;
    height: 56px;
    font-size: 14px;
  }
  .header__btn:active {
    width: 280px;
    height: 50px;
    font-size: 12px;
  }
  .header__btn-container {
    width: 320px;
    height: 56px;
    margin: 0 auto;
  }
  .header__inner {
    padding: 180px 0;
    text-align: center;
  }
  .header__title {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 32px;
  }
  .header__title--spacing {
    letter-spacing: 1.2px;
  }
  .contact__feedback {
    display: flex;
  }
  .contact__btn-container, .header__body, .header__subtitle, .header__text {
    display: none;
  }
  /* /HEADER */
  /* WORK */
  .work {
    padding: 60px 0 85px;
  }
  .work__container {
    padding: 0;
  }
  .work__title {
    margin-bottom: 40px;
  }
  .work__slide {
    height: 230px;
  }
  .work .swiper-slide-active {
    min-width: 236px;
    height: 262px;
  }
  .work__prev {
    left: 5%;
  }
  .work__next {
    right: 5%;
  }
  /* /WORK */
  /* LOCATIONS */
  .locations {
    padding: 0;
  }
  .locations__title {
    margin-bottom: 64px;
  }
  .locations__btn-container {
    margin-top: 32px;
  }
  .locations__item img {
    width: 307px;
    height: 272px;
  }
  .locations__prev {
    left: 0;
  }
  .locations__next {
    right: 0;
  }
  /* /LOCATIONS */
  /* VIDEO */
  .video {
    padding-top: 60px;
  }
  .video__container {
    padding: 0;
  }
  .video__title {
    margin-bottom: 40px;
  }
  .video__content {
    height: 375px;
  }
  .video__play {
    height: 42px;
  }
  /* /SERVICES */
  .services {
    padding: 60px 0;
  }
  .services__container {
    padding: 0;
  }
  .services__title {
    margin-bottom: 40px;
  }
  .services__gallery {
    gap: 16px;
    grid-template-columns: repeat(2, 180px);
    grid-auto-rows: 154px;
  }
  .services__item--three, .services__item--five, .services__item--nine, .services__item--eleven {
    order: 1;
  }
  .services .services__item--eight {
    grid-column-start: span 1;
    order: 2;
  }
  .services__text {
    font-size: 14px;
    line-height: 16px;
    bottom: 8px;
  }
  /* /SERVICES */
  /* STAGES */
  .stages {
    padding-bottom: 80px;
  }
  .stages__container {
    padding: 0;
  }
  .stages__title {
    margin-bottom: 40px;
  }
  .stages__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    align-items: center;
  }
  .stages__items::after {
    background: url(../img/stages/decor-3.svg) center center/contain no-repeat;
    top: -40px;
    left: 0px;
    right: 0px;
  }
  .stages__item {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    position: relative;
    width: 320px;
    min-height: 175px;
    padding: 26px 36px 0;
    text-align: center;
  }
  .stages__text {
    font-size: 14px;
    line-height: 140%;
  }
  .stages__number {
    left: 50%;
    transform: translateX(-50%);
  }
  /* /STAGES */
  /* INFO */
  .info {
    padding: 50px 0 36px;
    text-align: center;
  }
  .info__title {
    margin-bottom: 24px;
  }
  .info__text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  .info__btn {
    font-size: 14px;
    margin-right: 12px;
  }
  .info__more {
    right: 50%;
    transform: translateX(50%);
  }
  /* /INFO */
  /* PRICE */
  .price {
    padding: 60px 0;
  }
  .price__title {
    margin-bottom: 40px;
  }
  .price__item {
    height: auto;
    width: 100%;
    padding: 45px 12px;
  }
  .price__item-size {
    margin-bottom: 8px;
  }
  .price::after {
    background: url(../img/price/decor-3.svg) center center/contain no-repeat;
    height: auto;
    width: auto;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .price__services {
    font-size: 14px;
    line-height: 140%;
  }
  .price__extra-title {
    font-size: 14px;
    line-height: 120%;
  }
  .price__extra-items {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .price__btn-container {
    width: 100%;
  }
  /* /PRICE */
  /* GIFT */
  .gift {
    padding: 60px 0;
  }
  .gift__title {
    margin-bottom: 40px;
  }
  .gift__buy-text {
    margin: 0 0 16px;
  }
  .gift__buy-image {
    width: 267px;
    height: 267px;
    min-width: auto;
    position: static;
  }
  .gift__btn {
    width: 100%;
  }
  .gift__btn-container {
    width: 100%;
  }
  .banner {
    text-align: center;
    align-items: center;
    background-color: var(--bg-color2);
    padding: 40px 12px 50px;
    flex-direction: column;
  }
  .banner__title {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 32px;
    min-width: auto;
  }
  .banner__subtitle {
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .banner__item {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .banner__text {
    margin: 0;
  }
  .banner::after {
    background: url(../img/gift/decor-3.svg) center center/contain no-repeat;
    width: 375px;
    left: -10px;
    top: 260px;
  }
  /* /GIFT */
  /* REVIEWS */
  .reviews__title {
    margin-bottom: 40px;
  }
  .reviews .swiper-content {
    margin: 0;
  }
  .reviews__item-name {
    font-size: 18px;
    margin: 24px 0 14px;
  }
  .reviews__item-text {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .reviews__item-more {
    font-size: 14px;
    line-height: 24px;
  }
  .reviews__btn {
    height: 100%;
  }
  .reviews__btn-container {
    margin-top: 32px;
    width: 320px;
    height: 56px;
  }
  .reviews__prev {
    left: 0px;
  }
  .reviews__next {
    right: 0px;
  }
  /* /REVIEWS */
  /* FEEDBACK */
  .feedback {
    padding: 80px 0 120px;
  }
  .feedback__inner {
    height: auto;
  }
  .feedback__image {
    width: auto;
    background: url(../img/feedback/02.jpg) center center/contain no-repeat;
    position: relative;
    transform: translateY(0);
  }
  .feedback__location {
    width: 245px;
    height: 240px;
    top: 185px;
    left: 50px;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 32px;
  }
  .feedback__form {
    width: 320px;
    margin: 0 auto;
    padding: 50px 20px;
    transform: translateY(-60px);
  }
  .feedback__title {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 24px;
  }
  .form__text {
    font-size: 14px;
  }
  .form__input {
    margin-bottom: 12px;
  }
  .form__btn-container {
    margin-top: 20px;
  }
  /* /FEEDBACK */
  /* FOOTER */
  .footer {
    padding: 60px 0;
  }
  .footer__top {
    display: block;
  }
  .footer__logo {
    width: auto;
    margin-bottom: 52px;
  }
  .footer__logo-img {
    margin: 0 auto;
  }
  .footer__body {
    grid-template-columns: 1fr 1fr;
    gap: 32px 56px;
  }
  .footer__social {
    flex-wrap: wrap;
    text-align: center;
    gap: 16px 24px;
  }
  .footer__social-text {
    font-size: 14px;
    width: 100%;
  }
  .line {
    margin: 40px 0;
  }
  /* /FOOTER */
}