@media (max-width: 1380px) {

  /* FEEDBACK */
  .feedback {
    &__location {
      top: 210px;
      left: 70px;
    }

    &__form {
      width: 480px;
      padding: 75px 50px;
    }
  }

  /* /FEEDBACK */

}

@media (max-width: 1280px) {

  /* GENERAL */
  .container {
    padding: 0 80px;
  }

  .video__container,
  .work__container {
    padding: 0;
  }

  /* GENERAL */


  /* HEADER */
  .header {
    &__contact {
      flex-direction: column;
      gap: 5px;
      align-items: flex-end;
    }

    &__body {
      gap: 24px;
    }
  }

  .contact {
    &__btn {
      font-size: 11px;
      border-radius: 6px;
      border: 1.5px solid var(--accent-color);

      &-container {
        order: 1;
        width: 162px;
        height: 29px;
      }

      &:active {
        width: 150px;
        height: 26px;
      }
    }
  }

  /* HEADER */


  /* REVIEWS */
  .reviews {
    &__prev {
      left: -60px;
    }

    &__next {
      right: -60px;
    }
  }

  /* /REVIEWS */


  /* FOOTER */
  .footer {
    padding: 64px 0 56px;

    &__body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px 80px;
      text-align: center;
    }
  }

  /* /FOOTER */
}

@media (max-width: 1120px) {

  /* STAGES */
  .stages {

    &__item--two {
      left: 550px;
    }

    &__item--three {
      top: 350px;
    }

    &__item--four {
      top: 450px;
      left: 70px;
    }

    &__items::after {
      left: 80px;
    }
  }

  /* /STAGES */
}

@media (max-width: 1024px) {

  /* GENERAL */
  .title {
    font-size: 30px;
    line-height: 120%;
  }

  .form {
    width: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 64px;
    height: 64px;

    & svg {
      height: 40px;
      width: 20px;
    }
  }

  .modal {
    &__input {
      height: 40px;
    }
  }

  .modal-feedback {
    &__body {
      width: 840px;
      padding: 50px;
    }

    &__form {
      width: 375px;
    }

    &__img {
      width: 362px;
      height: 330px;
      left: 27px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .modal-locations {
    &__body {
      width: 840px;
      padding: 40px;
    }

    &__img {
      margin: auto 0;
      width: 362px;
    }
  }

  .modal-reviews {
    &__body {
      width: 840px;
      padding: 50px;
    }

    &__title {
      font-size: 28px;
      margin-bottom: 32px;
    }

    &__img {
      position: static;
      width: 340px;
      margin: auto 0;
    }
  }

  /* /GENERAL */


  /* HEADER */
  .header {
    &__menu {
      padding: 12px 0;
    }

    &__link {
      font-size: 12px;
    }
  }

  /* HEADER */


  /* PROMO */
  .promo {
    padding: 70px 0;

    &__title {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 32px;
    }

    &__title--spacing {
      letter-spacing: 2.3px;
    }

    &__subtitle {
      max-width: 450px;
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 15px;
    }

    &__play {
      height: 110px;
      top: 40%;
    }

    &__btn-container {
      margin-top: 32px;
    }
  }

  /* /PROMO */


  /* WORK */
  .work {
    padding: 100px 0 80px;

    &__container {
      padding: 0;
    }

    &__slide {
      height: clamp(14.375rem, 8.236rem + 26.19vw, 25rem); //400px to 230px
    }

    .swiper-slide-active {
      min-width: clamp(14.75rem, 8.647rem + 26.04vw, 25.313rem); //405px to 236px
      height: clamp(16.375rem, 9.586rem + 28.97vw, 28.125rem); // 450px to 262px
    }
  }

  /* /WORK */


  /* LOCATIONS */
  .locations {
    padding: 60px 0;

    &__btn-container {
      margin-top: 32px;
    }
  }

  /* /LOCATIONS */


  /* VIDEO */
  .video {
    padding: 0;

    &__container {
      padding: 0;
    }
  }

  /* /VIDEO */


  /* /SERVICES */
  .services {
    padding: 100px 0;

    &__gallery {
      gap: 24px;
      grid-auto-rows: 235px;
    }

    &__text {
      bottom: 12px;
      left: 12px;
    }
  }

  /* /SERVICES */


  /* STAGES */
  .stages {
    padding: 0 0 140px;

    &__title {
      margin-bottom: 80px;
    }

    &__items {
      height: 950px;

      &::after {
        width: auto;
        background: url(../img/stages/decor-2.svg) center center/contain no-repeat;
        top: 0px;
        left: -80px;
        right: -80px;
      }
    }

    &__item--one {
      left: 20px;
    }

    &__item--two {
      left: auto;
      right: 20px;
    }

    &__item--three {
      top: 335px;
      right: 185px;
    }

    &__item--four {
      top: 595px;
      left: 0;
    }

    &__item--five {
      top: 730px;
      left: auto;
      right: 70px;
    }
  }

  /* /STAGES */


  /* PRICE */
  .price {
    padding: 100px 0;

    &__item {
      width: 420px;
      padding: 48px 22px;

      &-sum {
        margin-bottom: 0;
      }

      &-top {
        padding-bottom: 32px;
      }
    }

    &::after {
      background: url(../img/price/decor-3.svg) center center/contain no-repeat;
      height: auto;
      width: auto;
      top: 140px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  /* /PRICE */


  /* GIFT */
  .gift {
    padding: 100px 0;

    &__buy {
      top: 20px;
      right: 12px;

      &-text {
        margin-bottom: 16px;
      }

      &-image {
        height: 438px;
      }
    }
  }

  .banner {
    padding: 120px 50px 170px;

    &__title {
      font-size: 36px;
      line-height: 140%;
      margin-bottom: 40px;
    }

    &::after {
      background: url(../img//gift/decor-2.svg) center center no-repeat;
      height: 920px;
      left: 230px;
      top: 40px;
    }
  }

  /* /GIFT */


  /* REVIEWS */
  .reviews {
    padding: 0;

    .swiper-content {
      margin: 0 80px;
    }

    .swiper-slide-active {
      margin-bottom: 0;
    }

    &__prev {
      left: -80px;
    }

    &__next {
      right: -80px;
    }

    &__btn-container {
      margin: 42px auto 0;
    }
  }

  /* /REVIEWS */


  /* FEEDBACK */
  .feedback {
    padding: 120px 0 130px;

    &__inner {
      margin: 0;
    }
  }

  /* /FEEDBACK */

}

@media (max-width: 970px) {

  /* GENERAL */
  .menu {
    &__line {
      width: 24px;
      height: 3px;
      background-color: var(--accent-color);
      border-radius: 10px;
    }
  }

  .modal {

    &__body {
      overflow-y: auto;
    }

    &__close {
      top: 12px;
      right: 12px;

      svg path {
        stroke: #D8D8D8;
      }
    }
  }

  .modal-feedback {
    &__content {
      display: block;
    }

    &__body {
      padding: 16px 16px 32px;
    }

    &__form {
      max-width: 375px;
      width: auto;
      margin: 0 auto;
    }

    &__img {
      display: block;
      width: 121px;
      height: 110.54px;
      position: static;
      transform: translateY(0);
      margin: 0 auto 12px;
    }
  }

  .modal-locations {
    &__content {
      display: block;
    }

    &__body {
      padding: 16px 16px 32px;
    }

    &__form {
      margin: 0 auto;
      max-width: 420px;
      width: auto;
    }

    &__img {
      width: 118.07px;
      height: 122.16px;
      display: block;
      margin: 0 auto;
    }
  }


  .work-gallery,
  .locations-gallery {
    &__content {
      padding: 60px;
    }

    &__prev {
      left: 2%;
    }

    &__next {
      right: 2%;
    }
  }

  .modal-reviews {
    &__content {
      flex-direction: column;
    }

    &__body {
      padding: 16px 16px 32px;
    }

    &__form {
      max-width: 420px;
      width: 100%;
      margin: 0 auto;
    }

    &__img {
      width: 118px;
      height: 126px;
      margin: 0 auto 14px;
      order: -1;
    }
  }

  /* /GENERAL */


  /* HEADER */

  .header {
    &__head {
      order: 1;
      width: 32px;
      height: 32px;
      display: flex;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &__body {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 56px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;
      flex-direction: column;
      align-items: flex-end;
      gap: 16px;
      background-color: #1F1F1F;
      color: #FFFFFF;
      padding: 16px 80px;

      &.header__body--active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
    }

    &__item {
      &:nth-child(1) {
        order: -1;
      }

      &:nth-child(3) {
        order: -1;
      }

      &:nth-child(4) {
        order: -1;
        display: block;
      }

      &:nth-child(5) {
        display: none;
      }
    }

    &__link {
      font-size: 14px;
    }
  }

  .contact {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;

  }

  /* HEADER */


  /* WORK */
  .work {
    &__prev {
      left: 15%;
    }

    &__next {
      right: 15%;
    }
  }

  /* /WORK */


  /* STAGES */
  .stages {
    &__items {
      display: flex;
      flex-direction: column;
      gap: 40px;
      height: auto;
      align-items: center;

      &::after {
        width: 100%;
        background: url(../img/stages/decor-3.svg) center center/contain no-repeat;
        top: -40px;
        left: 0px;
        right: 0px;
      }
    }

    &__item {
      left: auto;
      top: auto;
      bottom: auto;
      right: auto;
      position: relative;
      width: 320px;
      padding: 26px 36px 0;
      text-align: center;
    }
  }

  /* /STAGES */


  /* GIFT */
  .gift {
    padding: 60px 0;

    &__title {
      margin-bottom: 40px;
    }

    &__buy {
      position: static;

      &-image {
        height: 267px;
      }
    }

    &__btn {
      &-container {
        height: 56px;
        width: 100%;
        max-width: 342px;
      }
    }
  }

  .banner {
    text-align: center;
    align-items: center;
    background-color: var(--bg-color2);
    padding: 40px 12px 50px;
    flex-direction: column;

    &__title {
      font-size: 28px;
      margin-bottom: 32px;
    }

    &__item {
      margin-bottom: 16px;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    &::after {
      background: url(../img/gift/decor-3.svg) center center/contain no-repeat;
      width: 375px;
      left: -10px;
      top: 260px;
    }
  }

  /* /GIFT */


  /* FEEDBACK */
  .feedback {
    padding: 80px 0 120px;

    &__image {
      position: relative;
      background: url(../img/feedback/02.jpg) center center/contain no-repeat;
      transform: translateY(0);
      width: auto;
    }

    &__location {
      width: 245px;
      height: 240px;
      top: 185px;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 30px;
      padding-top: 32px;
    }

    &__form {
      max-width: 480px;
      width: 100%;
      margin: 0 auto;
      padding: 50px 20px;
      transform: translateY(-60px);
    }

  }

  /* /FEEDBACK */


  /* FOOTER */
  .footer {
    padding: 60px 0;

    &__menu {
      display: block;
    }

    &__logo {
      margin-bottom: 52px;
    }

    &__logo-img {
      margin: 0 auto;
    }

    &__body {
      grid-template-columns: 1fr 1fr;
      gap: 32px 56px;
    }

    &__social {
      flex-wrap: wrap;
      text-align: center;
      gap: 16px 24px;

      &-text {
        width: 100%;
      }
    }
  }

  .line {
    margin: 40px 0;
  }

  /* /FOOTER */
}

@media (max-width: 650px) {

  /* GENERAL */
  .container {
    padding: 0 16px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 36px;
    height: 36px;

    & svg {
      height: 19px;

      & path {
        stroke-width: 7;
      }
    }
  }

  /* /GENERAL */


  /* HEADER */
  .header {
    &__body {
      padding: 16px;
    }
  }

  .contact {
    &__feedback {
      display: flex;
    }

    &__btn-container {
      display: none;
    }
  }

  /* HEADER */


  /* PROMO */

  .promo {
    &__title {
      font-size: 32px;
      line-height: 140%;
      margin-bottom: 32px;
    }

    &__title--spacing {
      letter-spacing: 1.2px;
    }
  }

  /* /PROMO */


  /* LOCATIONS */

  .locations {
    margin: 0 16px;

  }

  /* LOCATIONS */

  /* /SERVICES */
  .services {
    &__gallery {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 154px;
    }

    &__item--three,
    &__item--five,
    &__item--nine,
    &__item--eleven {
      order: 1;
    }

    .services__item--eight {
      grid-column-start: span 1;
      order: 2;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;
      bottom: 8px;
    }
  }

  /* /SERVICES */

  .video__container,
  .work__container,
  .services__container {
    padding: 0;
  }

  /* REVIEWS */
  .reviews {

    .swiper-content {
      margin: 0;
    }

    &__prev {
      left: 0px;
    }

    &__next {
      right: 0px;
    }
  }

  /* /REVIEWS */

}

@media (max-width: 500px) {

  /* GENERAL */
  .btn {
    font-size: 14px;
    line-height: 17px;

    &:active {
      font-size: 12px;
      line-height: 15px;
      width: 281px;
      height: 49px;
    }
  }

  .modal-thanks {
    &__content {
      padding: 100px 21px;
    }

  }

  /* /GENERAL */


  /* PROMO */
  .promo {
    text-align: center;
    padding: 180px 0;

    &__title {
      font-size: 24px;
    }

    &__subtitle,
    &__text {
      display: none;
    }

    &__play {
      height: 40px;
      top: 44%;
    }

    &__btn {
      &:active {
        width: 280px;
        height: 50px;
        font-size: 12px;
      }

      &-container {
        max-width: 320px;
        width: 100%;
        height: 56px;
        margin: 0 auto;
      }
    }
  }

  /* /PROMO */


  /* WORK */
  .work {
    &__prev {
      left: 5%;
    }

    &__next {
      right: 5%;
    }
  }

  /* /WORK */

  /* LOCATIONS */

  .locations {
    &__btn-container {
      width: 100%;
      height: 56px;
      margin-top: 32px;
    }
  }

  /* LOCATIONS */


  /* VIDEO */
  .video {

    &__content {
      height: 375px;
    }

    &__play {
      height: 42px;
    }
  }

  /* /VIDEO */

  .price {
    &__extra-items {
      flex-wrap: wrap;
    }

    &__btn {

      &-container {
        width: 100%;
      }
    }

  }
}

@media (max-width: 375px) {

  /* GENERAL */
  .title {
    font-size: 24px;
    line-height: 140%;
  }

  .swiper-pagination-bullets {
    bottom: -30px;
  }

  .swiper-pagination-bullet {
    margin: 0 5px;
  }

  .form {
    &__text {
      font-size: 14px;
    }

    &__input {
      margin-bottom: 12px;
    }

    &__btn-container {
      margin-top: 20px;
    }
  }

  .select {
    margin-bottom: 16px;

    &__header {
      height: 32px;
    }

    &__item {
      height: 32px;
    }
  }

  .modal {
    &__body {
      max-height: 80%;
    }

    &__title {
      font-size: 22px;
      margin-bottom: 16px;
    }

    &__input {
      height: 32px;
      margin-bottom: 10px;
    }

    &__btn {
      &-container {
        height: 40px;
        margin: 6px 0 16px;
      }
    }
  }

  .modal-thanks {
    &__title {
      font-size: 22px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .work-gallery,
  .locations-gallery {
    z-index: 7;

    &__slider {
      p {
        font-size: 14px;
      }
    }
  }

  .modal-extra {
    &__content {
      padding: 40px 29px;
    }

    &__btn {
      &-container {
        height: 40px;
        margin-top: 6px;
      }

      &:active {
        height: 40px;
        width: 90%;
      }
    }
  }

  /* /GENERAL */


  /* HEADER */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;

    &__logo-img {
      height: 20px;
    }
  }

  /* /HEADER */


  /* WORK */
  .work {
    padding: 60px 0 85px;

    &__title {
      margin-bottom: 40px;
    }
  }

  /* /WORK */

  /* LOCATIONS */
  .locations {
    padding: 0;

    &__title {
      margin-bottom: 64px;
    }
  }

  /* /LOCATIONS */


  /* VIDEO */
  .video {
    padding-top: 60px;

    &__title {
      margin-bottom: 40px;
    }
  }

  /* /VIDEO */


  /* /SERVICES */
  .services {
    padding: 60px 0;

    &__title {
      margin-bottom: 40px;
    }
  }

  /* /SERVICES */


  /* STAGES */
  .stages {
    padding-bottom: 80px;

    &__container {
      padding: 0;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__text {
      font-size: 14px;
      line-height: 140%;
    }

    &__number {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* /STAGES */


  /* INFO */
  .info {
    padding: 50px 0 36px;
    text-align: center;

    &__title {
      margin-bottom: 24px;
    }

    &__text {
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 30px;
    }

    &__btn {
      font-size: 14px;
      margin-right: 12px;
    }

    &__more {
      right: 50%;
      transform: translateX(50%);
    }

  }

  /* /INFO */


  /* PRICE */
  .price {
    padding: 60px 0;

    &__title {
      margin-bottom: 40px;
    }

    &__item {
      padding: 45px 12px;

      &-size {
        margin-bottom: 8px;
      }
    }

    &__services {
      font-size: 14px;
    }

    &__extra-title {
      font-size: 14px;
      line-height: 120%;
    }

    &__extra-items {
      margin-bottom: 32px;
    }
  }


  /* /PRICE */


  /* GIFT */
  .banner {
    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__item {
      font-size: 14px;
      line-height: 140%;
    }
  }

  /* /GIFT */


  /* REVIEWS */
  .reviews {
    &__title {
      margin-bottom: 40px;
    }

    &__item {
      &-name {
        font-size: 18px;
        margin: 24px 0 14px;
      }

      &-text {
        font-size: 14px;
        margin-bottom: 8px;
      }

      &-more {
        font-size: 14px;
      }
    }

    &__btn {
      &-container {
        margin-top: 32px;
        max-width: 320px;
        width: 100%;
        height: 56px;
      }
    }
  }

  /* /REVIEWS */


  /* FEEDBACK */
  .feedback {
    &__location {
      font-size: 14px;
    }

    &__form {
      max-width: 320px;
    }

    &__title {
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 24px;
    }
  }

  /* /FEEDBACK */


  /* FOOTER */
  .footer {
    &__logo-img {
      height: auto;
    }

    &__social {
      &-text {
        font-size: 14px;
      }
    }
  }

  /* /FOOTER */
}